docs:
  stage: test
  trigger:
    project: code0-tech/development/telescopium
    branch: build-branch
    strategy: depend
  variables:
    C0_TRIGGER_PROJECT: $CI_PROJECT_NAME
    C0_TRIGGER_SHA: $CI_COMMIT_SHA
    C0_TRIGGER_REF: $C0_GH_REF

docs:preview:
  stage: test
  image: registry.gitlab.com/gitlab-ci-utils/curl-jq:latest
  needs:
    - docs
  script:
    - >
      QUERY='{
        "query":"query($fullPath: ID!, $iid: ID!, $bridgeJob: String!, $downstreamJob:String!) {
          project(fullPath: $fullPath) {
            pipeline(iid: $iid) {
              job(name: $bridgeJob) {
                downstreamPipeline {
                job(name: $downstreamJob) { id }
              }
            }
          }
        }
        }","variables":{
          "fullPath":"'"$CI_PROJECT_PATH"'",
          "iid":"'"$CI_PIPELINE_IID"'",
          "bridgeJob":"docs",
          "downstreamJob":"build"
        }
      }'
    - INLINED_QUERY=${QUERY//[$'\t\r\n']}
    - echo $INLINED_QUERY
    - >
      RESPONSE=$(curl
      -X POST
      --data "$INLINED_QUERY"
      -H 'Content-Type: application/json'
      https://gitlab.com/api/graphql)
    - echo $RESPONSE
    - BUILD_JOB_ID=$(echo "$RESPONSE" | jq -r .data.project.pipeline.job.downstreamPipeline.job.id | awk -F '/' '{print $NF}')
    - |
      echo -e "\e[0Ksection_start:`date +%s`:glpa_summary\r\e[0KHeader of the summary"
      echo "Documentation preview available at https://code0-tech.gitlab.io/-/development/telescopium/-/jobs/$BUILD_JOB_ID/artifacts/dist/index.html"
      echo -e "\e[0Ksection_end:`date +%s`:glpa_summary\r\e[0K"
  rules:
    - if: $C0_GH_REF != "refs/heads/main"
