@import 'tailwindcss';
@source '../node_modules/fumadocs-ui/dist/**/*.js';

* {
    box-sizing: border-box;
}

html, body {
    background: #030014;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
}
